<x:Header></x:Header>
<article>
    <x:About />
</article>
<article>
    <x:Projects />
</article>
<article>
    <x:Reading />
</article>
<article>
    <x:Writing />
</article>
<aside>
    <article>
        <x:Contact />
    </article>
</aside>
<aside><div id="toc-container"></div></aside>
<hr style="margin: 0; "/>
<aside style="text-align: center; margin-top: 0;">
    <p style="width: fit-content; margin: 0 auto;">Thank you for reading a personal website. All these posts were written in a specific time and place. I reserve the right to learn new things and to change my mind. If you enjoyed any of this content, please consider sharing it however you like to share content.</p>
</aside>